<div class="text-white">
    <h1>Basics pipes</h1>
    <p>
        Pipes in Common Mudule
    </p>
</div>

<div class="grid text-white">
    <div class="col-4">
            <p-card header="uppercase"
                [subheader]="nameLower|uppercase"
            >
                {{ nameLower}}
            </p-card>
    </div>
    <div class="col-4">
        <p-card header="lowercase"
                [subheader]="nameUpper|lowercase"
            >
                {{ nameUpper}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="titlecase"
                [subheader]="fullName|titlecase"
            >
                {{ fullName}}
        </p-card>
    </div>
</div>
<div class="text-white">
    <h1>Date | Pipe</h1>
    <p>
        Pipe to show dates
    </p>
</div>

<div class="grid text-white">
    <div class="col-6">
            <p-card>
                <ul>
                    <li>date</li>
                    <li>date | date</li>
                    <li>date | date:'short'</li>
                    <li>date | date:'long'</li>
                </ul>
                <hr>
                <ul>
                        <li>date | date:'long': 'GMT-6'</li>
                        <li>date | date:'long': 'GMT-4'</li>
                        <li>date | date:'long': '': 'fr-CA'</li>

                </ul>
            </p-card>
    </div>
    <div class="col-6">
        <p-card>
            <ul>
                <li>{{date}}</li>
                <li>{{date | date}}</li>
                <li>{{date | date:'short'}}</li>
                <li>{{date | date:'long'}}</li>
                <li>{{date | date:'yyyy/MM/dd hh:mm z'}}</li>
            </ul>
            <hr>
                <ul>
                    <li>{{date | date:'long': 'GMT-6':'es-MX'}}</li>
                    <li>{{date | date:'long': 'GMT-4'}}</li>
                    <li>{{date | date:'long': '': 'fr-CA'}}</li>
                </ul>
        </p-card>
</div>
</div>